<h1>CSS</h1>
<div class="body">
	<h3>Vocabulary:</h3>
	<div class="content">
		<p>CSS - Cascading Style Shetts(CSS)</p>
		<p>A style sheet language used for describing the look and formatting of a document written in a markup language.</p>
		<p> inline styling - a way to style your website within the html file.  This is not reccommended.</p>
		<%= image_tag("inlinestyle.png") %>
		<p>You can place your CSS between two script tags in the heading: </p>
		<%= image_tag("style_tag_css.png")%>
		<p>But the reccommened way to save your CSS is in an file typically called "file_name_example.css and reference it in the head of your Document:"</p>
		<p>This is how you reference your external stylesheet..</p>
		<%= image_tag("external_css_link.png")%>
		<p>And this is where it appears in your 'head' tags</p>
		<%= image_tag("external_stylesheet_reference.png")%>
		<p>This is the format for CSS:</p>
		<%= image_tag("css_format.png")%>
		<p>So if we want to turn all of our 'p' tags (or paragraphs) to the color red we would simply write:</p>
		<%= image_tag("p_color_red.png")%>
		<p>CSS deals with making our web pages pretty- it allows us to add color, different fonts, change the size of our fonts and more.  Continue on to the exercises to learn more about CSS!</p>
	</div>


	<div class="content">
		<h3>Exercises:</h3>
		<p>Read through the w3schools "CSS Introduction"</p>
		<li><a href="http://www.w3schools.com/css/css_intro.asp">CSS Introduction</a></li>
		<p>Login to <a href="http://www.codecademy.com/">www.codecademy.com</a> and do the following CSS lessons: 
				<ol>
					<h4>Introduction to CSS</h4>
					<li>CSS: An Overview</li>
					<li>Design a Button for Your Website</li>
				</ol>
				<ol>
					<h4>CSS Classes and Ids</h4>
					<li>CSS Selectors</li>
					<li>Soritng Your Friends</li>
				</ol>
				<ol>
					<h4>CSS Element Positioning</h4>
					<li>CSS Positioning</li>
					<li>Build a Resume</li>
				</ol>
			</p>
		<p>The following is a free tutorial provided by Code Avengers to practice your HTML and CSS. Click the link below, click, "Yes, I am taking this for a class," watch the videos, and work through the lessons!</p>
		<li><a href="http://www.codeavengers.com/web/1#1.1">Code Avengers HTML/CSS Lesson</a></li>
		<p>Practice Adding your own content in an CSS text editor! Click the link below and practice creating your own CSS content.</p>
		<li><a href="http://www.w3schools.com/css/tryit.asp?filename=trycss_default">CSS Text Editor</a></li>
			<p>Take the quiz below. If you don't know an answer, search using www.Google.com or refer the the Resources at the bottom of the page.</p>
			<li><a href="http://www.w3schools.com/css/css_quiz.asp">CSS Quiz</a></li>
			<p>You can use these two websites to look up more information on CSS tags</p>
			<ul>
				<li><a href="http://www.w3schools.com/cssref/default.asp">CSS Reference Guide</a></br></li>
				<li><a href="http://www.codecademy.com/glossary/css">CSS Glossary</a></li>
			</ul>
	</div>
</div>
	<p><%= link_to 'Home', root_path %> </p>

